# --- System Files ---
.DS_Store
Thumbs.db
*.swp

# --- Dependencies ---
**/node_modules/
.pnp
.pnp.js


# Environment variables
# .env
# backend/.env
# frontend/.env

# --- Environment variables ---
# Ignora qualquer arquivo que comece com .env, exceto exemplos
.env*
!.env.example

# --- Build & Output ---
/dist/
/build/
/frontend/dist/
*.tsbuildinfo

# --- Logs ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- Database ---
*.sqlite
*.sqlite3
*.db
/backend/backups/*
!/backend/backups/.gitkeep

# --- IDEs & Tools ---
.vscode/
.idea/
*.sublime-project
*.sublime-workspace


# --- Project Specific (Agents & Plans) ---
.agent/
/temp/
implementation_plan*.md
GEMINI.md






