# ==========================================
# VARIÁVEIS OBRIGATÓRIAS
# ==========================================

# Conexão com o CRM Hablla
WORKSPACE_ID_HABLLA=workspace_id
API_TOKEN_HABLLA=token_de_api

# Segurança de Sessão (Token JWT)
# O que é o JWT_SECRET? É a senha-mestre (uma chave aleatória definida por você, p/ ex: 'minha_chave_longa_123*&ˆ')
# utilizada internamente pelo provedor de backend para assinar os tokens dos usuários logados. Somente o servidor que assina a chave pode lê-la.
JWT_SECRET=chave_secreta_jwt_123

# ==========================================
# VARIÁVEIS OPCIONAIS E DE AMBIENTE
# ==========================================

# Porta que o Node/Express vai rodar (Padrão: 3005)
PORT=3005

# Caminho do Arquivo de Banco de Dados SQLite (Usado para persistência local ou via contêineres/Volumes em Docker)
DATABASE_PATH=./database.sqlite

# Configurações de Acesso de Administrador de Segurança
# Para segurança, o banco de dados principal de credenciais jamais deve ser enviado para repositório (gitignore).
# Se precisar forçar a criação de um usuário mestre no servidor, ou recuperar acesso por perda de senha,
# preencha esses campos. Toda vez que o servidor for reiniciado e essas chaves estiverem presentes, 
# a conta de email especificada será garantida (ou atualizada) para um papel Restrito de Administrador com essa respectiva senha.
# ADMIN_EMAIL=gerente@empresa.com
# ADMIN_PASSWORD=senha_secreta_super_segura