WORKSPACE_ID=seu_workspace_id
API_TOKEN=seu_token_de_api

# Configurações de Acesso de Administrador de Segurança
# Para segurança, o banco de dados principal de credenciais jamais deve ser enviado para repositório (gitignore).
# Se precisar forçar a criação de um usuário mestre no servidor, ou recuperar acesso por perda de senha,
# preencha esses campos. Toda vez que o servidor for reiniciado e essas chaves estiverem presentes, 
# a conta de email especificada será garantida (ou atualizada) para um papel Restrito de Administrador com essa respectiva senha.

# ADMIN_EMAIL=gerente@empresa.com
# ADMIN_PASSWORD=senha_secreta_super_segura